In [1]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

from scipy.stats import chi2_contingency,chisquare
import numpy as np

In [ ]:
# Null Hypothesis-:        µ1= µ2 = µ3 = µ4
# Alternative Hypthosis-:  Atleast One of them is Different

In [2]:
CO=pd.read_csv("Customer+OrderForm.csv")

In [5]:
CO.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [6]:
CO.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [8]:
CO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [28]:
print(CO['Phillippines'].value_counts(),'\n',CO['Indonesia'].value_counts(),'\n',CO['Malta'].value_counts(),'\n',
      CO['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [29]:
Obs=np.array([271,267,269,280,29,33,31,20])
exp=np.array([271.75,271.5,271.5,271.5,28.25,28.25,28.25,28.25])

In [31]:
chisquare(Obs,exp,ddof=3)

Power_divergenceResult(statistic=3.8613652121070747, pvalue=0.4250930304612487)

In [ ]:
# α=0.05 ,which is very less than p_value=0.4

# We fail to reject Null Hypothesis.