In [26]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

from scipy.stats import chi2_contingency,chisquare
import numpy as np

In [27]:
# Null Hypothesis--> There is no association or dependency between the gender based buyer rations across regions

# Alternative Hypthosis--> There is a significant association between the gender based buyer rations across regions

In [28]:
BR=pd.read_csv("BuyerRatio.csv")

In [29]:
BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [30]:
BR.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [36]:
Obs = [[50,142,131,70], [435,1523,1356,750]]

chi2_contingency(Obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [37]:
Obs=np.array([50,142,131,70,435,1523,1356,750])
exp=np.array([42.76,146.81,131.11,72.30,442.23,1518.18,1355.88,747.69])

In [38]:
chisquare(Obs,exp,ddof=3)

Power_divergenceResult(statistic=1.5973608829248387, pvalue=0.8092663896622994)

In [ ]:
# p_value is significantly high

In [ ]:
''' We fail to reject Null Hypothesis because lack of evidence.
Therefore, there is no association or dependency between male-female buyers rations and are similar across regions.
Hence, samples are Independent samples.'''